* {
    box-sizing: border-box;
}

:root {
    --background: #242A32;
    --background-light: #3A3F47;
    --font-light: #FFF;
    --font-dark: #92929D;
    --font-highlight: #FF8700;
    --font-size-normal: .75rem;
    --font-size-large: .875rem;
    --font-size-header: 1.125rem;
    --line-highlight: #0296E5;
}

body {
    background-color: var(--background);
    font-family: 'Poppins', sans-serif;
    color: var(--font-light)
}

.app {
    padding: 1.5rem 1.5rem;
    margin: 0 auto;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
}

.header-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "header header header"
        "search search search";
    gap: 1rem;
}

.movie-header {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1.5rem;
    z-index: 12;
}

.darken {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.329), transparent);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.movie-information-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.item-box {
    display: flex;
    gap: .25rem;
    padding: .75rem;
    border-right: 1px solid var(--background-light);
}

.item-box:last-child {
    border: none;
}

.movie-title-box {
    bottom: -5rem;
    width: 100%;
    padding: 1.8rem;
    display: flex;
    gap: 1rem;
    margin-top: -9rem;
    z-index: 14;
}

.movie-title {
    align-self: end;
    font-weight: 600;
    font-size: 1.125rem;
}

.movie-title-box img {
    max-width: 5.92rem;
    border-radius: 1rem;
}

.movie-rating {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .25rem;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    color: var(--font-highlight);
    background-color: rgba(37, 40, 54, 0.82);
    text-align: center;
    width: 3.4rem;
    height: 1.5rem;
    border-radius: .5rem;
    padding: 1.25rem 2rem;
}

.movie-rating p {
    margin: 0;
    line-height: normal;
}

.movie-rating img {
    height: 1em;
    /* Adjust as needed */
}

.button-container-movie {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header {
    grid-area: header;
}


.input {
    background-color: var(--background-light);
    border: none;
    border-radius: 1rem;
    padding: clamp(0.5rem, 1vw, 4rem);
    font-size: clamp(1em, 1vw, 4em);
    color: var(--font-light)
}

.search-button {
    border: none;
    background-color: transparent;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.icon {
    width: 1.5rem;
    width: clamp(1.5rem, 2vw, 4rem);
}

.button {
    border: none;
    background-color: transparent;
    width: 2.25rem;
    height: 2.25rem;
}

.search {
    width: 100%
}

.search-container {
    grid-area: search;
    width: 100%;
    position: relative;
    display: flex;
}

.nav {
    position: fixed;
    width: 100%;
    min-height: 4rem;
    bottom: 0;
    left: 0;
    border-top: 1px solid var(--line-highlight);
    background-color: var(--background);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    z-index: 100;
}

.nav-item {
    display: grid;
    justify-items: center;
    gap: .5rem;
}

.nav-item img {
    width: 1.5rem;
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.75rem
}

.popcorn {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    flex-direction: column;
    gap: 1rem;
}

.movie-hero {
    position: relative;
    width: 100%;
    min-height: 13.18rem;
    border-radius: 0 0 1rem 1rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* This will only show if the image is not available */
}


.hidden {
    visibility: hidden;
    display: none;
}

.now-playing {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 1.25rem;
}

.top-ten {
    display: flex;
    overflow-x: auto;
    gap: 1.25rem;
    overflow-y: hidden;
    align-items: center;
    padding: 2rem 0;
}

.top-ten>* {
    flex: 0 0 auto;
    /* Do not grow, do not shrink, automatic size */
    max-width: 10rem;
    /* Set minimum width */
}

.top-ten::-webkit-scrollbar {
    display: none;
}

.top-ten {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}


.movie {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    user-select: none;
}

.movie__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
    pointer-events: none;
}

.movie__large {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.movie:hover {
    transform: scale(1.1);
}

.movie::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0 0 0 0;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.movie:hover::after {
    opacity: 1;
    animation: shine 1s ease-in-out infinite;
}

.cat-menu {
    display: flex;
    overflow-x: auto;
    gap: .75rem;
    overflow-y: hidden;
}

.cat-menu::-webkit-scrollbar {
    display: none;
}

.top-ten {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.cat-button {
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: .875rem;
    font-family: 'Poppins', sans-serif;
    padding: .25rem;
    min-width: 6.8rem;
    max-height: 2.5rem;
    padding-bottom: .25rem;
    cursor: pointer;
}

.cat-button--selected {
    font-weight: 500;
    border-bottom: .25rem solid var(--background-light);
}

.movie-data {}

.movie-details {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
    overflow-y: auto;
    overflow: auto;
}

.movie-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.8rem;
    line-height: 1.4rem;
}

@keyframes shine {
    from {
        background-position: 200%;
    }

    to {
        background-position: -200%;
    }
}

/* Typography */
.h1 {
    font-size: clamp(1rem, 1vw, 4em);
    font-weight: 600;
}

.dark-text {
    color: var(--font-dark);
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
    .now-playing {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    /* Styles */
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

    .now-playing {
        grid-template-columns: repeat(5, 1fr);
    }

    /* Styles */
    .header-container {
        grid-template-columns: 1fr auto 1fr;
        grid-template-areas: "header header header" " search search search";
        align-items: center;
    }

    .search-container {
        grid-area: search
    }

    .header {
        grid-area: header;
    }

    .app {
        padding: 1.5rem 8rem;
    }

    .top-ten>* {
        max-width: calc(9.11rem * 2.25);
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    /* Styles */
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

    /* Styles */

    @media only screen and (min-width : 1440px) {
        body {}
    }

    /* Extra Large Devices, TVs and Larger */
    @media only screen and (min-width : 1600px) {
        /* Styles */
    }

    /* Styles for 4K displays */
    @media only screen and (min-width: 2560px) {
        .now-playing {
            grid-template-columns: repeat(5, 1fr);
            gap: 4rem;
        }

        .movie {
            transition: transform 0.3s ease-in-out;

            &:hover {
                transform: scale(1.05);
            }
        }
    }
